@model ShowAlbumsViewModel
@{
    ViewData["Title"] = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Files in album</th>
            <th>Created</th>
            <th>Last modified</th>
        </tr>
    </thead>
    @for (int i = 0; i < Model.Albums.Count(); i++)
    {
        {
            var uname = User.Claims.FirstOrDefault(c => c.Type.Contains("email")).Value;
            var albumLoc = (Url.Action("Album", "Image", new
            {
                albumname = Model.Albums.ElementAt(i).Name.Replace(" ", "_").Replace("/", "_").Replace(".", "_").Replace(":", "_"),
                username = uname.Replace('@', '_').Replace('.', '_')
            }));
            <tr onclick="location.href = '@albumLoc'">
                <td>@Model.Albums.ElementAt(i).Name</td>
                <td>@Model.Albums.ElementAt(i).Description</td>
                <td>@Model.Albums.ElementAt(i).FilesCount</td>
                <td>@Model.Albums.ElementAt(i).CreatedAt</td>
                <td>@Model.Albums.ElementAt(i).ModifiedAt</td>
            </tr>
        }
    }
</table>
